body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #000000;
}

.container {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

input[type="text"] {
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    height: 40px;
    background-color: #1c7af5;
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333333;
}