body {
    text-align: center;
}
h1 {
    text-align: center;
    font-weight: normal;
    font-size: 18px;
}

button {
    display: block;
    margin: 10px auto;
    background-color: #0044ff;
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
    color: #fff;
}

input {
    font-size: 18px;
    display: block;
    margin: 10px auto;
}

textarea {
    margin: 10px auto;
}