body {
    background-color: #f4f4f4;
}
.container {
    text-align: center;
}
h1 {
    text-align: center;
    color: #333;
}
label {
    margin-right: 10px;
}
select {
    padding: 5px;
}
button {
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #cf4b4b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#result {
    margin-top: 20px;
}