body {
    text-align: center;
}

h1 {
    color: #000000;
}

div {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}
.text {
    font-weight: 100;
}
input {
    padding: 5px;
}

button {
    padding: 10px 15px;
    background-color: #328ae7;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

canvas {
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
}