body {
    margin: 0 auto;
    text-align: center;
}
button {
    background-color: #0044ff;
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
    color: #fff;
}
h1 {
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#order-form {
    margin-bottom: 20px;
}

#order-form input {
    padding: 5px;
    margin-right: 10px;
}
#result {
    margin-top: 20px;
}