.group2-container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
  }
  .group2-tack2 {
    width: 1200px;
    height: 432px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;

  }
  .group2-text {
    top: 40px;

    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
  }
  .group2-textinput {
    top: 99px;
    width: 1200px;
    height: 48px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group2-button {
    gap: 10px;
    top: 0px;
    left: 1020px;
    width: 180px;
    height: 48px;
    display: flex;
    padding: 12px 16px;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    justify-content: center;
    background-color: #318de2;
  }
  .group2-text2 {
    color: #ffffff;
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .group2-text-input1 {
    gap: 15px;
    top: 0px;
    left: 613px;
    color: #9aa5b6;
    display: flex;
    padding: 12px;
    position: absolute;
    font-size: 18px;
    text-align: left;
    align-items: flex-start;
    font-family: Inter;
    font-weight: 400;
    border: 1px solid #545f70;
    border-radius: 6px;
  }
  .group2-text4 {
    top: 4px;
    color: #000000;
    height: auto;
    position: absolute;
    font-size: 32px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;

  }
  .group2-text6 {
    top: 247px;
    margin: 0 35%;
    color: #000000;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
  }
  .group2-textoutput {
    gap: 15px;
    top: 328px;
    left: 528px;
    color: #9aa5b6;
    display: flex;
    padding: 12px;
    position: absolute;
    font-size: 18px;
    align-self: stretch;
    text-align: left;
    align-items: flex-start;
    flex-shrink: 0;
    font-family: Inter;
    font-weight: 400;
    border-color: #545f70;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;

  }
  