body {
    text-align: center;
    padding: 20px;
}

h1 {
    
    margin-bottom: 20px;
}

input {
    padding: 5px;
    font-size: 16px;
    width: 250px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #1a3cfa;
    border: 0;
    border-radius: 10px;
}

p {
    font-size: 18px;
    margin-top: 20px;
}