body {
    text-align: center;
    background: linear-gradient(131deg, rgba(27,38,42,1) 0%, rgba(237,135,97,1) 100%) no-repeat fixed left bottom;
}
div {
    margin-top: 20%;
    color: #ffff;
}
button {
    padding: 0.7% 1.5%;
    background-color: #000;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: #ffff;
}
.result {
    font-size: 30px;

}