body {
    text-align: center;
}

label, input {
    font-size: 18px;
}
button {
    background-color: #0044ff;
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
    color: #fff;
}
