body {
    text-align: center;
    padding: 20px;
}
h1 {
    
    margin-bottom: 20px;
}
#input {
    width: 300px;
    height: 30px;
    font-size: 16px;
}
#sortButton {
    width: 100px;
    height: 35px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #2e6cf1;
    border: 0;
    border-radius: 10px;
    color: #ffffff;
}
#result {
    margin-top: 20px;
    font-size: 20px;
}