body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(124deg, #51AF5B 0%, #B3E55E 26.56%, #FEED30 72.84%, #FFCB3C 100%) fixed no-repeat;
}

h1 {
    color: #000000;
}

.form-group {
    margin-bottom: 20px;
    font-size: 28px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

button {
    padding: 8px 16px;
    background-color: #ff9100;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

p {
    font-size: 28px;
    margin-top: 20px;
}