* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #fff;
    font-family: Inter;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.conteiner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0% 0 0.5%;
}
.text_intput {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inputName {
    padding: 0.5%;
    font-size: 18px;
    color: #000000;
    border-radius: 10px;
}
.button_name {
    margin-left: 15%;
    padding: 1.5%;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    background-color: #328EE2;
    border-radius: 10px;
    border: 1px solid #328EE2;
}
.text_output {
    width: 100%;
    max-width: 1200px;
    padding: 20px 0.5% 0 0.5%;
}

.text {
    color: #000000;
    font-size: 28px;
}