.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
}

input,
textarea {
    font-size: 20px;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #1d4ce9;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    
}

#outputResult {
    margin-top: 20px;
    padding: 10px;
}