body {
    text-align: center;
}
h1 {
    font-weight: normal;
    font-size: 18px;
}
label, input {
    font-size: 18px;
}
button {
    background-color: #0044ff;
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 20px;
    color: #fff;
    
}