body {
    position: absolute;
    top: 20%;
    left: 20%;
}
h1 {
    color: #000000;
}

input {
    padding: 10px;
}
button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

p {
    margin-top: 20px;
    font-size: 18px;
}
