body {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}
textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
}
button {
    background-color: #0044ff;
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #fff;
}